.cart{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: center; */
    color:#fff;
    font-size: 2rem;
    border: 2px solid #f5369d;
    padding: 2rem;
}
.cartLi{
    display: flex;
    gap: 1.3rem;
}